<div class="row-fluid">
    <div class="span12">
        <h2>Welcome, User!</h2>
    </div>
</div>
<ul class="nav nav-pills">
    <li class="active">
        <a href="#tabhome" data-toggle="tab">Home</a>
    </li>
    <li>
        <a href="#tabbtu" data-toggle="tab">BTU Management</a>
    </li>
    <li>
        <a href="#tabprofile" data-toggle="tab">Profile</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tabhome">
        <p>This is your home page!<p>
    </div>
    <div class="tab-pane" id="tabbtu">
        <p> This is where your BTU business will be! </p>
    </div>
    <div class="tab-pane" id="tabprofile">
        <p> bootstrap is way too ez </p>
    </div>
</div>