// Place all the styles related to the code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#codeFormXML {
    display:none;
}
.codeBlockly {
    height: 650px;
    width: 79%;
}
#codeDescription {
    height: 80px;
    width: 100%;
}
#code_title {
    height: 100%;
}
.privacyRadioLabel {
    font-weight: normal;
}
#codeButtons {
    padding-top: 30px;
}
#MSG {
    display: none;
}
.portLabel {
    padding: 4px;
}
.portInput {
    width: 40%
}
.sensorOption {
    padding: 6px;
}
.programNames {
    font-size:150%;
}
#tabRow {
    display: none;
}
