// Place all the styles related to the userwelcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
    background-image:url('block.png');

    background-repeat:repeat-y;
}

.table-nonfluid{
    width: 80%;
}

#leftCodeRow{
    border:none;
    float:left;
}

#rightCodeRow{
    border:none;
    float:right;
}
