// Place all the styles related to the userwelcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
    background-image:url('block.png');

    background-repeat:no-repeat;
}

.table-nonfluid{
    width: 80%;
}

#leftCodeRow, #leftBtuRow{
    border:none;
    float:left;
}

#rightCodeRow, #rightBtuRow{
    border:none;
    float:right;
}

#codeDescription{
    color: rgba(0,0,0,0.5);
}

.button_to {
    display: inline;
}

.button_to div {
    display: inline;
}
