<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="codeBlockly" id="blocklyDiv"></div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary"
                     onclick="exportCode()">Save your Code!
                </button>
            </div>

            <div class="col-md-2 col-md-offset-5">
                <button type="button" class="btn btn-danger"
                    onclick="clearCode()">Clear Blocks
                </button>
            </div>
        </div>
    </div>
</div>

