<div class="row-fluid">
    <div class="span10 offset2">
        <div id="blocklyDiv" style="height: 350px; width: 800px;"></div>
        <br />
        <div class="row-fluid">
            <div class="span2">
                <button type="button" class="btn btn-primary"
                     onclick="exportCode()">Save your Code!
                </button>
            </div>

            <div class="span2 offset5">
                <button type="button" class="btn btn-danger"
                    onclick="clearCode()">Clear Blocks
                </button>
            </div>
        </div>
    </div>
</div>

