<br/><br/><br/><br/>
<% if @btu.errors.any? %>
        <div class="col-md-10 ">
            <div id="error_explanation">
                <h2><%= pluralize(@btu.errors.count, "error") %> prohibited this btu from being saved:</h2>
                <ul>
                    <% @btu.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
<% end %>
<div class="col-md-10 ">
    <p>
        <label for="btuTitle">BTU Name</label><br/>
        <%= f.text_field :title, :id =>"btuTitle",
            :placeholder => "Name your Blocky Talky Unit",
            :value => @btu.title %>
    </p>
</div>

<div class="col-md-10 ">
    <p>
        <label for="btuID">BTU ID</label><br/>
        <%= f.text_field :btuID, :id =>"btuID", :class =>"popover-input",
            :rel => "popover", :placeholder => "BTU identifier #", :value => @btu.btuID,
            :data => {:content => "Look for your BTU's unique id in /etc/blocklyId!",
                      :placement => "right",
                      :trigger   => "focus",
                      :container => "body"}%>
    </p>
</div>

<div class="col-md-10 ">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary"
                 onclick="saveBtu()">Save your BTU!
            </button>
        </div>
    </div>
</div>

